label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

label > input[type="checkbox"].ios8-switch {
  position: absolute;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

label > span {
  position: relative;
  height: 24px;
  width: 40px;
}

label > span:before,
label > span:after {
  content: "";
  position: absolute;
}

label > span:before {
  display: block;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 40px;
  height: 24px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s;
}

label > span:after {
  display: block;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 16px;
  background: #fff;
  transition: all 0.3s;
}

label > input[type="checkbox"].ios8-switch:hover + span:after {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

label > input[type="checkbox"].ios8-switch:checked + span:after {
  left: calc(100% - 24px);
  transform: translateY(-50%);
}

label > input[type="checkbox"].ios8-switch:checked + span:before {
  background: #2b7345;
}
